{% extends 'base.html' %}
{% block principal %}


<div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-3xl mx-auto flex justify-center">
  <div>
    <h1 class="text-3xl font-bold mb-4 text-center">
      Calcula cuánto vale tu GitHub
    </h1>
    <div class="mb-4 text-center">
      <input type="text" id="username" class="border rounded py-2 px-4 w-full max-w-lg" placeholder="GitHub Username" />
    </div>
    <div class="text-center">
      <button onclick="estimateValue()"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mb-4">
        💰 calcular
      </button>
    </div>
    <div id="result" class="hidden">
      <div class="flex flex-col items-center">
        <img id="avatar" class="w-24 h-24 rounded-full mb-4" alt="Profile Picture" />
        <a id="username_link" class="text-lg font-bold" target="_blank">
          <p id="username_display"></p>
        </a>
        <div class="flex space-x-4 mt-4">
          <p id="repos" class="bg-gray-100 p-2 rounded-md"></p>
          <p id="followers" class="bg-gray-100 p-2 rounded-md"></p>
          <p id="contributions" class="bg-gray-100 p-2 rounded-md"></p>
        </div>
        <img id="contributions_graph" class="mt-4" alt="GitHub Contributions" />
        <div class="bg-green-100 p-4 rounded-md mt-4">
          <p id="value" class="text-2xl font-bold text-green-700"></p>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="../static/js/main.js"></script>

{% endblock %}