{% extends 'base.html' %}
{% block principal %}

<div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-3xl mx-auto flex justify-center">
  <div>
    <h1 class="text-3xl font-bold mb-4 text-center">
      Calcula cuánto vale tu GitHub
    </h1>
    <div class="mb-4 text-center">
      <input type="text" id="username" class="border rounded py-2 px-4 w-full max-w-lg" placeholder="GitHub Username" />
    </div>
    <div class="text-center">
      <button onclick="estimateValue('repos')"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mb-4">
        💰 Calcular por repositorios
      </button>
      <button onclick="estimateValue('stars')"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mb-4">
        ⭐ Calcular por estrellas
      </button>
      <button onclick="estimateValue('followers_repos')"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mb-4">
        📊 Calcular por seguidores y repositorios
      </button>
      <button onclick="estimateValue('total')"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mb-4">
        🏆 Calcular valor total
      </button>
    </div>
    <div id="loading" class="hidden text-blue-500 text-center">
      <p>Cargando...</p>
    </div>
    <div id="result" class="hidden">
      <div class="flex flex-col items-center">
        <img id="avatar" class="w-24 h-24 rounded-full mb-4" alt="Profile Picture" />
        <a id="username_link" class="text-lg font-bold" target="_blank">
          <p id="username_display"></p>
        </a>
        <div class="flex space-x-4 mt-4">
          <p id="repos" class="bg-gray-100 p-2 rounded-md"></p>
          <p id="followers" class="bg-gray-100 p-2 rounded-md"></p>
          <p id="contributions" class="bg-gray-100 p-2 rounded-md"></p>
          <p id="stars" class="bg-gray-100 p-2 rounded-md"></p> <!-- Agregado para mostrar estrellas -->
        </div>
        <img id="contributions_graph" class="mt-4" alt="GitHub Contributions" />
        <div class="bg-green-100 p-4 rounded-md mt-4">
          <p id="value" class="text-2xl font-bold text-green-700"></p>
        </div>
        <div class="bg-green-100 p-4 rounded-md mt-4 hidden" id="additional_values">
          <p id="value_repos" class="text-lg font-bold text-green-700"></p>
          <p id="value_stars" class="text-lg font-bold text-green-700"></p>
          <p id="value_followers_repos" class="text-lg font-bold text-green-700"></p>
        </div>
      </div>
    </div>
    <div id="error" class="hidden text-red-500 text-center">
      <p>No se pueden hacer más peticiones en este momento. Por favor, inténtalo más tarde.</p>
    </div>
  </div>
</div>

<script>
  function estimateValue(criteria) {
    var username = document.getElementById('username').value;

    // Mostrar indicador de carga
    document.getElementById('loading').classList.remove('hidden');
    document.getElementById('result').classList.add('hidden');
    document.getElementById('error').classList.add('hidden');

    // Realizar la petición AJAX a la API de Flask
    fetch(`/value/${criteria}?username=${username}`)
      .then(response => {
        if (!response.ok) {
          throw new Error('Failed to fetch user data');
        }
        return response.json();
      })
      .then(data => {
        // Ocultar indicador de carga
        document.getElementById('loading').classList.add('hidden');

        // Mostrar resultados
        document.getElementById('result').classList.remove('hidden');

        // Actualizar los elementos con los datos del usuario
        document.getElementById('avatar').src = data.avatar_url;
        document.getElementById('username_display').innerText = data.name || data.login;
        document.getElementById('username_link').href = `https://github.com/${data.login}`;
        document.getElementById('repos').innerText = `Total Repos: ${data.public_repos}`;
        document.getElementById('followers').innerText = `Followers: ${data.followers}`;
        document.getElementById('contributions').innerText = `Contributions: ${data.contributions}`;
        document.getElementById('stars').innerText = `Total Stars: ${data.total_stars}`; // Agregado para mostrar estrellas
        document.getElementById('value').innerText = `$ ${data.value}`;
        document.getElementById('contributions_graph').src = `https://ghchart.rshah.org/${data.login}`;

        // Mostrar valores adicionales si están disponibles
        if (criteria === 'total') {
          document.getElementById('additional_values').classList.remove('hidden');
          document.getElementById('value_repos').innerText = `Valor por repos: $${data.value_repos}`;
          document.getElementById('value_stars').innerText = `Valor por estrellas: $${data.value_stars}`;
          document.getElementById('value_followers_repos').innerText = `Valor por seguidores y repos: $${data.value_followers_repos}`;
        } else {
          document.getElementById('additional_values').classList.add('hidden');
        }
      })
      .catch(error => {
        // Ocultar indicador de carga
        document.getElementById('loading').classList.add('hidden');

        // Mostrar mensaje de error
        document.getElementById('error').classList.remove('hidden');
        console.error('Error:', error.message);
      });
  }
</script>

{% endblock %}